#headline {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
}
.fa {
  position: relative;

}
.btn-xlarge {
    padding: 10px 58px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#jumbo {
    background: #C0C0C0;
    padding: 44px 40px;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: 14px;
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

h1 {
  font-size: 3em;
  margin-top: -10px;
}
.nightmode {
    background-color: #000;
    color: #fff;
}

.review {
  color: grey;
  background-color: #F8F8F8;
  padding: 10px;
}
