/*body {
    padding-top: 70px;
}*/

.btn-xlarge {
    padding: 8px 55px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.navbar {
    background: #F8F8F8;
}

#jumbo {
    background: #C0C0C0;
    padding: 44px 40px;
    border-radius: 5px;
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.nightmode {
    background-color: #000;
    color: #fff;
}

.review {
  color: grey;
  background-color: #F8F8F8;
}
