/*body {
    padding-top: 70px;
}*/

.btn-xlarge {
    padding: 14px 110px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.navbar {
    background: #F8F8F8;
}

.toggle {
    text-align: right;
}

#initially-hidden {
    display: none;
}

.nightmode {
  background-color: #000;
  color: #fff;
}
