  <div class="row">
    <!-- review titles section on left column-->
    <div class="col-md-4" ng-show="reviews.length">
        <ul class="list-unstyled">
                                        <!-- set sorting to reverse aphabetically: first 0-1, then a-z -->
          <li ng-repeat="item in reviews | orderBy:'title' track by item.id">
            <h4><a ui-sref="reviews.comment({ reviewId: item.id })">{{ item.title }}</a></h4>
          </li>
        </ul>
    </div>

    <div class="col-md-8" ng-model="reviews">
      <!-- review content -->
      <div ui-view ng-show="reviews.length"></div>

      <!-- review form -->
      <h2>Create New Movie Review</h2>
        <form ng-submit="ReviewsFactory.addReview()" role="form">
          <div class="row form-group">
            <div class="col-md-12">
              <input type="text" ng-model="ReviewsFactory.reviewName" class="form-control" placeholder="Enter your name" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <label for="date">Review Date:</label>
              <input type="date" name="date" ng-model="ReviewsFactory.reviewDate" class="datepicker" class="form-control" placeholder="mm/dd/yyyy" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Enter the movie title" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <textarea rows="5" type="text" ng-model="ReviewsFactory.reviewComment" class="form-control" placeholder="Enter your review" required></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>

  <div ui-view="body"></div>
